<!DOCTYPE html>
<html lang="en">

<head>
	<title>WebUni - Education Template</title>
	<meta charset="UTF-8">
	<meta name="description" content="WebUni Education Template">
	<meta name="keywords" content="webuni, education, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->
	<link href="img/favicon.ico" rel="shortcut icon" />

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i"
		rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/font-awesome.min.css" />
	<link rel="stylesheet" href="css/owl.carousel.css" />
	<link rel="stylesheet" href="css/style.css" />


	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>

<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header section -->
	<%include _header%>
	<!-- Header section end -->


	<!-- Page info -->
	<%include _pageinfo%>
	<!-- Page info end -->
	<!-- search section -->
	<% include _search %>
	<!-- search section end -->
	<div class="container" style="padding-top: 20px">
		<!-- Tabs -->
		<div class="tab-element">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item">
					<a class="nav-link active show" id="1-tab" data-toggle="tab" href="#tab-1" role="tab"
						aria-controls="tab-1" aria-selected="false">Thông tin cá nhân</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="2-tab" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2"
						aria-selected="false">Thời khoá biểu </a>
				</li>
				<li class="nav-item">
					<a class="nav-link " id="3-tab" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3"
						aria-selected="true">Khoá học đã đăng kí</a>
				</li>
				<li class="nav-item">
					<a class="nav-link " id="4-tab" data-toggle="tab" href="#tab-4" role="tab" aria-controls="tab-4"
						aria-selected="true">Học phí</a>
				</li>
			</ul>
			<div class="tab-content" id="myTabContent">
				<!-- single tab content -->
				<div class="tab-pane fade active show" id="tab-1" role="tabpanel" aria-labelledby="tab-1">
					<table class="table table-striped">
						<tbody>
							<tr>
								<th>Họ</th>
								<td><%= session.user.ND_HO%></td>
							</tr>
							<tr>
								<th>Tên</th>
								<td><%= session.user.ND_TEN%></td>
							</tr>
							<tr>
								<th>Ngày sinh</th>
								<td><%= session.user.ND_NGAYSINH%></td>
							</tr>
							<tr>
								<th>Địa chỉ</th>
								<td><%= session.user.ND_DIACHI%></td>
							</tr>
							<tr>
								<th>Số điện thoại</th>
								<td><%= session.user.TK_PHONE%></td>
							</tr>
							<tr>
								<th>Học vấn</th>
								<td><%= session.user.ND_HOCVAN%></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="tab-2">
					<div class="table-responsive-md">
						<table class="table table-striped">
							<thead>
								<tr>
									<th scope="col">Môn</th>
									<th scope="col">Thứ </th>
									<th scope="col">Buổi</th>
									<th scope="col">Giờ</th>
								</tr>
							</thead>
							<tbody>
								<% thoikhoabieu.forEach(function(item){%>
								<% let  date = JSON.stringify(item.TKB_NGAY ) %>
								<% date = date.slice(1,11) %>
								<% let d = new Date(date);%>
								<% console.log(date);%>
								<% let weekday = new Array(7);    %>
								<% weekday[0] = "Chủ nhật";       %>
								<% weekday[1] = "Thứ 2";          %>
								<% weekday[2] = "Thứ 3";          %>
								<% weekday[3] = "Thứ 4";          %>
								<% weekday[4] = "Thứ 5";          %>
								<% weekday[5] = "Thứ 6";          %>
								<% weekday[6] = "Thứ 7";          %>
								<%var n = weekday[d.getDay()];    %>
								<tr>
									<td><%= item.KH_TEN  %></td>
									<td><%=n%></td>
									<td><%=item.TKB_BUOI %></td>
									<td><%=item.TKB_GIOBATDAU %>-<%=item.TKB_GIOKETTHUC  %></td>
								</tr>
								<%})%>
							</tbody>
						</table>
					</div>
				</div>
				<div class="tab-pane fade " id="tab-3" role="tabpanel" aria-labelledby="tab-3">
					<% khoahocdadangki.forEach(function(item){%>
					<table class="table table-striped">
						<thead>
							<tr>
								<th class="text-center" colspan="2">Khoá học <%=item.KH_GIAOVIEN %></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th>Ngày bắt đầu</th>
								<% let  date = JSON.stringify(item.KH_BATDAU) %>
								<% date = date.slice(1,11) %>
								<td><%= date %></td>
							</tr>
							<tr>
								<th>Học phí</th>
								<td><%= item.KH_HOCPHI %></td>
							</tr>
							<tr>
								<th>Môn</th>
								<td><%= item.MH_TEN %></td>
							</tr>
							<tr>
								<th>Tên khoá </th>
								<td><%= item.KH_TEN %></td>
							</tr>
							<tr>
								<th>Số tiết</th>
								<td><%= item.MH_THOILUONG  %></td>
							</tr>
							<tr>
								<th>Huỷ khoá học</th>
								<td><a class="btn btn-icons btn-rounded btn-danger"
										href="/khoahoc/xoa-<%=item.DK_ID %>"><i class="fa fa-trash-o"></i></a>
								</td>
							</tr>
						</tbody>
					</table>
					<%})%>
				</div>
				<div class="tab-pane fade " id="tab-4" role="tabpanel" aria-labelledby="tab-4">
					<table class="table table-striped">
						<tbody>
							<tr>
								<th>Tình trạng</th>
								<%if(hocphi.HP_CONNO==0){%>
								<td>Đã hoàn thành</td>
								<%} else {%>
								<td>Còn nợ:<%= hocphi.HP_CONNO %></td>
								<%}%>
								</tr>
							</tbody>
						</table>
				</div>
			</div>
		</div>
	</div>
	<!-- signup section end -->



	<!-- footer section -->
	<%include _footer%>
								<!-- footer section end -->


								<!--====== Javascripts & Jquery ======-->
								<% include _javascripts.ejs%>


								<!-- load for map -->
								<script
									src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWTIlluowDL-X4HbYQt3aDw_oi2JP0Krc&sensor=false"></script>
								<script src="js/map.js"></script>
</body>

</html>