<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Star Admin Free Bootstrap-4 Admin Dashboard Template</title>
    <% include _style%>
</head>

<body>
    <div class="container-scroller">
        <% include _navbar%>
        <div class="container-fluid page-body-wrapper">
            <% include _sidebar%>
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="col-lg-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Quản lý điểm</h4>
                                <button type="button" class="btn btn-success btn-rounded btn-fw" data-toggle="modal"
                                    data-target="#myModal">Thêm</button>

                                <div class="modal fade" id="myModal" role="dialog">
                                    <div class="modal-dialog">
                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h4 class="card-title">Thêm điểm</h4>
                                                        <form action="/quanly/diem/them" class="forms-sample"
                                                            method="POST">
                                                            <div class="form-group">
                                                                <label for="taikhoan">Tài khoản</label>
                                                                <select class="form-control" id="taikhoan" name="taikhoan">
                                                                    <% taikhoan.forEach(function(itemkh){%>
                                                                    <option value="<%=itemkh.TK_ID  %>">
                                                                        <%=itemkh.TK_USERNAME  %>
                                                                    </option>
                                                                    <%})%>
                                                                </select>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="monhoc">Môn học</label>
                                                                <select class="form-control" id="monhoc" name="monhoc">
                                                                    <% monhoc.forEach(function(itemmh){%>
                                                                    <option value="<%=itemmh.MH_ID %>">
                                                                        <%=itemmh.MH_TEN %>
                                                                    </option>
                                                                    <%})%>
                                                                </select>
                                                            </div>
                                                            <div class="form-group">
                                                                    <label for="diem">Điểm</label>
                                                                    <input type="text" class="form-control" id="diem"
                                                                        placeholder="Nhập điểm" name="diem">
                                                                </div>
                                                            <button type="submit"
                                                                class="btn btn-success mr-2">Thêm</button>
                                                            <button type="reset" class="btn btn-light">Xoá</button>
                                                        </form>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default"
                                                    data-dismiss="modal">Đóng</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Môn học</th>
                                                <th>Tài khoản</th>
                                                <th>Họ</th>
                                                <th>Tên</th>
                                                <th>Điểm</th>
                                                <th>Loại</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <% diemso.forEach(function(item){%>
                                                <td><%=item.MH_TEN %></td>
                                                <td><%=item.TK_USERNAME  %></td>
                                                <td><%=item.ND_HO  %></td>
                                                <td><%=item.ND_TEN  %></td>
                                                <td><%=item.D_DIEM  %></td>
                                                <td><%=item.D_KETQUA   %></td>
                                                <td>
                                                    <a class="btn btn-icons btn-rounded btn-danger"
                                                        href="/quanly/lop/xoa-<%=item.D_ID  %>"><i
                                                            class="fa fa-trash-o"></i></a>
                                                    <a class="btn btn-icons btn-rounded btn-primary" data-toggle="modal"
                                                        data-target="#suadiem<%=item.D_ID  %>"><i
                                                            class="fa fa-pencil"></i></a>
                                                </td>
                                                <div class="modal fade" id="suadiem<%=item.D_ID  %>" role="dialog">
                                                    <div class="modal-dialog">
                                                        <!-- Modal content-->
                                                        <div class="modal-content">
                                                            <div class="modal-body">
                                                                <div class="card">
                                                                    <div class="card-body">
                                                                        <h4 class="card-title">Sửa môn học</h4>
                                                                        <form action="/quanly/lop/sua-<%=item.D_ID  %>"
                                                                            class="forms-sample" method="POST">
                                                                            <div class="form-group">
                                                                                <label for="monhoc">Môn học</label>
                                                                                <select class="form-control" id="monhoc"
                                                                                    name="monhoc">
                                                                                    <% monhoc.forEach(function(itemmh){%>
                                                                                    <% if(item.MH_TEN ==itemmh.MH_TEN) {%>
                                                                                    <option value="<%=itemmh.MH_ID %>"
                                                                                        selected>
                                                                                        <%=itemmh.MH_TEN %>
                                                                                    </option>
                                                                                    <%} else {%>
                                                                                    <option value="<%=itemmh.MH_ID %>">
                                                                                        <%=itemmh.MH_TEN %>
                                                                                    </option>
                                                                                    <%}%>
                                                                                    <%})%>
                                                                                </select>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label for="taikhoan">Tài khoản</label>
                                                                                <select class="form-control" id="taikhoan"
                                                                                    name="taikhoan">
                                                                                    <% taikhoan.forEach(function(itemtk){%>
                                                                                    <% if(item.TK_USERNAME  ==itemtk.TK_USERNAME ) {%>
                                                                                    <option value="<%=itemtk.TK_ID  %>"
                                                                                        selected>
                                                                                        <%=itemtk.TK_USERNAME  %>
                                                                                    </option>
                                                                                    <%} else {%>
                                                                                    <option value="<%=itemtk.TK_ID  %>">
                                                                                        <%=itemtk.TK_USERNAME  %>
                                                                                    </option>
                                                                                    <%}%>
                                                                                    <%})%>
                                                                                </select>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label for="diem">Điểm</label>
                                                                                <input type="text" class="form-control" id="diem"
                                                                                    name="diem" value="<%=item.D_DIEM  %>">
                                                                            </div>
                                                                            <button type="submit"
                                                                                class="btn btn-success mr-2">Cập nhật</button>
                                                                            <button type="reset"
                                                                                class="btn btn-light">Xoá</button>
                                                                        </form>

                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-default"
                                                                    data-dismiss="modal">Đóng</button>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </tr>
                                            <%})%>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
                <% include _footer%>
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <% include _javascript%>
    <!-- Custom js for this page-->
    <!-- End custom js for this page-->
</body>

</html>